* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.left {
    width: 30%;
    height: 100vh;
    background-color: #282828;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 2% 2% 0;
}
.logo {
    margin-top: 20%;
    cursor: pointer;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro h2 {
    font-size: 25px;
}

.intro h4 {
    margin-left: 25%;
}

.intro p {
    font-size: 15px;
    padding: 10%;
    letter-spacing: 5px;
    margin-top: 30%;
    margin-bottom: 100%;
}
.right {
    height: 100%;
    overflow-y: auto;
    width: 70%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.budgetAndIncomeWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.budgetAndIncomeWrapper input {
    width: 100%;
    height: auto;
    border: none;
}


.budgetSection {
    background-color: #282828;
    border-radius: 10px;
    width: 36%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.budgetSection label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.budgetSection input {
    display: block;
    width: 95%;
    height: 40px;
    border: none;
    font-size: 15px;
    padding: 0 3%;
}

.budgetSection button {
    width: 40%;
    height: 40px;
    margin-top: 5%;
    align-self: left;
    background-color: #fff;
    color: #282828;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.expenseSection {
    width: 62%;
    height: 100%;
    background-color:  #B00020;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.expenseSection h2 {
    color: #fff;
    text-align: center;
}

.expenseSection label {
    color: #fff;
}

.expenseSection input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 15px;
    padding: 0 2%;
}
.expenseSection button {
    width: 20%;
    height: 50px;
    margin-top: 5%;
    margin-left: 75%;
    background-color: #fff;
    color: #282828;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.totalSummary {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.summaryCard p {
    font-size: 30px;
    font-weight: bold;
}

#totalExpense {
    color: #FF0000;
}

.transactionsHistory h2 {
    text-align: center;
    margin-bottom: 20px;
}

.entryTable {
    border-collapse: collapse;
    font-size: 15px;
    min-width: 100%;
}

.entryTable thead tr {
    background-color: #282828;
    color: #fff;
    text-align: left;
}

.entryTable th, 
.entryTable td {
    padding: 10px 10px;
}

.entryTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.entryTable tbody tr #deleteEntryBtn {
    width: 100%;
    margin-right: 15px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.entryTable tbody tr #editEntryBtn {
    width: 100%;
    margin-right: 15px;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

#reportBtn {
    width: 100%;
    height: 40px;
    margin-top: 5%;
    align-self: left;
    background-color: #282828;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;   
}